@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito+Sans:wght@300;400;600;700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

.blue {
    color: #2E3192;
}

.bg-red {
    background-color: #FD5C63;
}

.bg-lightblue {
    background-color: #6EC1E4;
}

.bg-green {
    background-color: #61CE70;
}

.bg-pink {
    background-color: #f39f9f;
}

.bg-yellow {
    background-color: #FDC632;
}

.bg-bluelight {
    background-color: #3CACBC;
}

#telbtn {
    background: linear-gradient(273.57deg, #2E3192 1.14%, #4C92BE 100%);
    color: white;
    font-weight: 600;
    border: none;
    transition: all 0.5;
    font-size: 15px;
    padding: 0.5rem 1.5rem;
}

#telbtn:hover {
    box-shadow: 4px 4px 10px grey;
}

/*--------------------------------------------------------------
  #  topheader section start 
  --------------------------------------------------------------*/

#topheader {
    background-color: #4989B0;
    font-size: 14px;
    padding: 4px;
    font-weight: 500;
}

/*--------------------------------------------------------------
  #  topheader section end 
  --------------------------------------------------------------*/

/*--------------------------------------------------------------
  #  header section start 
  --------------------------------------------------------------*/

header {
    box-shadow: 0px 2px 10px lightgrey;
    padding: 0px 100px;
}

header .navbar-nav .nav-item {
    padding: 0px 20px;
    margin: 0;
}

header .navbar-nav .nav-link {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: black;
    transition: all 0.4s;
    position: relative;
}

header .navbar-nav .nav-link::before {
    content: '';
    width: 0px;
    height: 2px;
    border-radius: 20px;
    background-color: #4a70da;
    position: absolute;
    bottom: 0;
    transition: all 0.5s;
}

header .navbar-nav .nav-link:hover {
    color: #4a70da;
}

header .navbar-nav .nav-link:hover::before {
    width: 90%;
}

header .navbar-nav .nav-item .dropdown-menu {
    top: 52px;
    left: auto;
    transition: all 1s;
    width: 250px;
}

header .navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
}

header .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s;
}

header .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    color: #4989B0;
    letter-spacing: 0.7px;
}

header #telbtn {
    margin: 0px 15px;
}

header .offcanvas-body #telbtn {
    margin: 10px 0px;
    display: block;

}

header .offcanvas-body ul {
    padding: 0px;
    list-style: none;
    margin: 0px;
}

header .offcanvas-body ul li {
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 500;
}

header .offcanvas-body ul li a {
    text-decoration: none;
    color: black;
}

header .offcanvas-body ul li:hover {
    background-color: rgb(216, 239, 247);
    letter-spacing: 0.7px;
    transition: all 0.5s;
}

header .offcanvas-body ul li:hover a {
    color: #4a70da;
}

/*--------------------------------------------------------------
  #  header section end 
  --------------------------------------------------------------*/

/*--------------------------------------------------------------
  #  Banner section start 
  --------------------------------------------------------------*/
#banner {
    background: linear-gradient(to right, #021A64, rgba(255, 255, 255, 0.1)), url(../img/banner.jpeg) scroll no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
    padding: 350px 70px 10px 70px;
}

#banner .wrapper {
    display: inline-flex;
    background-color: rgba(25, 33, 36,0.8);
    border-radius: 0px 20px;
    padding: 20px
}

#banner .wrapper .static-txt {
    font-size: 48px;
    font-weight: bold;
    font-family: "Poppins", serif;
    color: white;
}

#banner .wrapper .static-txt span {
    color: #09d1ec;
}

/*--------------------------------------------------------------
  #  Banner section end 
  --------------------------------------------------------------*/

/*--------------------------------------------------------------
  #  Student Review start 
  --------------------------------------------------------------*/

#studentReview {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

#studentReview .slider-wrapper {
    max-width: 1400px;
    min-height: 450px;
    margin: 0px 70px;
    overflow: hidden;
}

#studentReview .card-list .card-item {
    border: 2px solid rgb(202, 202, 202);
    padding: 20px;
    box-shadow: 0px 1px 5px 0px rgb(155, 155, 155), 0px 4px 5px 0px #8f9faa;

}

#studentReview .card-list .card-item .titleCard {
    background-color: #22577A;
    border-radius: 20px;
    padding: 40px 32px 20px 32px;
    position: relative;
    color: white;
}


#studentReview .card-list .card-item .titleCard .studentImage {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    top: -2.8rem;
    width: 100%;

}

#studentReview .card-list .card-item .titleCard .studentImage .studentColor {
    width: 60px;
}

#studentReview .card-list .card-item .titleCard .studentImage .studentImageRounded {
    border: 2px solid #eaeaea;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    width: 110px;
    height: 110px;
}

#studentReview .slider-wrapper .swiper-pagination-bullet {
    background-color: rgb(165, 176, 223);
    height: 16px;
    width: 16px;
    opacity: 1;
    transition: all 0.4s;
}

#studentReview .slider-wrapper .swiper-pagination-bullet-active {
    background-color: #22577A;
    height: 18px;
    width: 18px;
}

#studentReview .slider-wrapper .button-swiper {
    color: #22577A;
    transition: all 0.5s;
    padding: 25px;
    border-radius: 50%;
    border: 2px solid #22577A;

}

#studentReview .slider-wrapper .button-swiper::after {
    font-size: 15px;
    font-weight: bolder;
}

#studentReview .slider-wrapper .button-swiper:hover {
    background-color: #22577A;
    color: white;
}

/*--------------------------------------------------------------
  #  Student Review end 
  --------------------------------------------------------------*/

/*--------------------------------------------------------------
  #  Our Courses start
  --------------------------------------------------------------*/

#ourCourses .card {
    font-family: 'Inter';
}

#ourCourses #enrollbtn,
#ourCourses #buybtn {
    padding: 9px 13%;
    font-weight: 500;
    border: 1px solid #2E3192;
    border-radius: 5px;
    transition: all 0.6s;
    margin-right: 10px;
}

#ourCourses #enrollbtn {
    background-color: white;
    color: #2E3192;
}

#ourCourses #buybtn {
    background-color: #2E3192;
    color: white;
}

#ourCourses #enrollbtn:hover {
    background-color: #2E3192;
    color: white;
}

#ourCourses #buybtn:hover {
    background-color: white;
    color: #2E3192;
}

/*--------------------------------------------------------------
  #  Our Courses end
  --------------------------------------------------------------*/

/*--------------------------------------------------------------
  #  Course Include start
  --------------------------------------------------------------*/

#courseInclude {
    background-color: #ECF0F2;
}

#courseInclude .col-md-9 .row .col .includeIcon {
    transition: all .3s;
    line-height: 2.2;
    color: white;
    border-radius: 50%;
    font-size: 32px;
    display: inline-block;
    height: 70px;
    width: 70px;
    margin: 10px;
}

#courseInclude .col-md-9 .row .col:hover .includeIcon {
    transform: scale(1.2);
}

/*--------------------------------------------------------------
  #  Course Include end
  --------------------------------------------------------------*/
/* 
/*--------------------------------------------------------------
  #  Rating Section start 
  --------------------------------------------------------------*/

#ratingSection .rating-logo {
    height: 40px;
}

/*--------------------------------------------------------------
  #  Rating Section end 
  --------------------------------------------------------------*/
/* 
/*--------------------------------------------------------------
  # whyChoose section start 
  --------------------------------------------------------------*/
#whyChoose {
    background-color: #e0eaf3;
}

#whyChoose .slider-wrapper {
    max-width: 1400px;
    min-height: 500px;
    /* margin: 0px 70px; */
    overflow: hidden;
    padding: 10px;
}

#whyChoose .slider-wrapper .swiper-button-next::after,
#whyChoose .slider-wrapper .swiper-button-prev::after {
    font-size: 20px;
    font-weight: bolder;
}

#whyChoose .slider-wrapper .swiper-pagination-bullet {
    background-color: rgb(165, 176, 223);
    height: 16px;
    width: 16px;
    opacity: 1;
    transition: all 0.4s;
}

#whyChoose .slider-wrapper .swiper-pagination-bullet-active {
    background-color: #22577A;
    height: 18px;
    width: 18px;
}

#whyChoose .chooseBox {
    padding: 30px 20px;
    box-shadow: -1px 0 9px 0 rgba(191, 191, 191, 0.49);
    border-radius: 4px;
    background-color: white;
    position: relative;
    z-index: 1;
    margin: 10px 0px;
    min-height: 420px;
}

#whyChoose .chooseBox::after {
    position: absolute;
    content: "";
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0;
    background-color: #0093d8;

}

#whyChoose .chooseBox:hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.31)
}

#whyChoose .chooseBox:hover::after {
    width: 100%;
}

#whyChoose .chooseBox .chooseIcon {
    margin-bottom: 30px;
    height: 100px;
    width: 100px;
    border-radius: 73% 27% 38% 62% / 40% 43% 57% 60%;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    -webkit-box-shadow: 0 4px 24px 0 rgba(103, 151, 255, .15), 0 12px 64px 0 rgba(103, 151, 255, .15);
    box-shadow: 0 4px 24px 0 rgba(103, 151, 255, .15), 0 12px 64px 0 rgba(103, 151, 255, .15);
    -webkit-transition-duration: 600ms;
    -o-transition-duration: 600ms;
    transition-duration: 600ms;
}

#whyChoose .chooseBox:hover .chooseIcon {
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg)
}

#whyChoose .chooseBox .chooseIcon img {
    width: 100%;
    display: block;
    height: 60px;
}

#whyChoose .chooseBox .chooseText p {
    font-size: 16px;
    line-height: 25px;
    min-height: 100px;
    color: #888686;
    letter-spacing: .5px;
}
#whyChoose #chooseMobileBox{
    background-color: white;
    transition: all 0.6s;
    box-shadow: 0px 3px 5px rgb(177, 177, 177);
    border-radius: 20px;
}
#whyChoose #chooseMobileBox:hover{
    background-color: #313C96;
    color: white;
}
#whyChoose #chooseMobileBox .col-3 div{
    padding: 20px;
    background-color: #e6e6e6;
    color: #313C96;
    border-radius: 50%;
    margin-top: auto;
    font-size: 35px;
    display: inline-block;
    line-height: 1;
}
/*--------------------------------------------------------------
  # whyChoose section end 
  --------------------------------------------------------------*/
/*--------------------------------------------------------------
  # Placed_Students section start 
  --------------------------------------------------------------*/
#placedStudent .col-12 .col .box {
    overflow: hidden;
    border: 4px solid #1AB69D;
    text-align: center;
    position: relative;
}

#placedStudent .col-12 .col .box img {
    transition: all 0.6s;
}

#placedStudent .col-12 .col .box p {
    color: white;
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: -10%;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(5, 5, 5, 0.5), rgba(0, 0, 0, 0.5));
    transition: all 0.5s;
}

#placedStudent .col-12 .col .box:hover img {
    transform: scale(1.2);
}

#placedStudent .col-12 .col .box:hover p {
    height: 110%;
    padding: 25% 0;
}

/*--------------------------------------------------------------
    # Placed_Students section end 
 --------------------------------------------------------------*/
/*--------------------------------------------------------------
    #admissionProcess section start 
--------------------------------------------------------------*/


#admissionProcess .admissionProcessBox {
    transition: all 0.6s;
}

#admissionProcess .admissionProcessBox:hover {
    background-color: #313C96;
    color: white;
}

#admissionProcess .admissionProcessBox .col-3 div {
    padding: 20px;
    background-color: #e6e6e6;
    color: #313C96;
    border-radius: 50%;
    margin-top: auto;
    font-size: 35px;
    display: inline-block;
    line-height: 1;
    margin-top: 15px;
}

/*--------------------------------------------------------------
    #admissionProcess section end 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    # linkWhatsapp section start 
--------------------------------------------------------------*/
#linkWhatsapp {
    background-color: #29AF3E;
    transition: all 1s;
}

#linkWhatsapp .linktext {
    font-size: 36px;
    line-height: 1.35em;
    padding-top: 20px;
    margin-left: 20px;
    color: white;
    transition: all 0.6s;
}

#linkWhatsapp:hover {
    background-color: white;
}

#linkWhatsapp:hover .linktext {
    color: #29AF3E;
}

/*--------------------------------------------------------------
    # linkWhatsapp section end 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    # upComingBatches section start 
--------------------------------------------------------------*/
#upcomingBatches {
    background-color: #ECF1F6;
}

#upcomingBatches table {
    min-width: 450px;
}

#upcomingBatches table .tabletop {
    background-color: #5e2883 !important;
    color: #fff !important;
}

/*--------------------------------------------------------------
    # upComingBatches section end 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    # faqs section start
--------------------------------------------------------------*/
#faqs {
    text-align: center;
    padding: 48px 0px;
}

#faqs #accordionExample .accordion-item {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
    padding: 0px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

#faqs #accordionExample .accordion-item .accordion-button {
    font-weight: 500;
    padding: 20px;
    transition: all 0.5s;
}

#faqs #accordionExample .accordion-item .accordion-button::after {
    background-color: white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-position: center;
}

#faqs #accordionExample .accordion-item .accordion-button:not(.collapsed) {
    background-color: #313C96;
    color: white;
}

#faqs #accordionExample .accordion-item .accordion-body {
    font-weight: normal;
}

/*--------------------------------------------------------------
    # faqs section end
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    # footer section start
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    # footer-top start
--------------------------------------------------------------*/
footer .footer-top {
    background-color: #03032c;
    color: white;
    padding: 30px 40px 10px 40px;
}

footer .footer-top .col-md-3 ul {
    margin-top: 20px;
    padding-left: 0;
}

footer .footer-top .col-md-3 ul li {
    list-style: none;
    padding: 8px 0px;
    font-weight: 500;
}

footer .footer-top .col-md-3 ul li a {
    color: white;
    position: relative;
    display: block;
}

footer .footer-top .col-md-3 ul li span {
    margin-left: 10px;
}

footer .footer-top .col-md-3 ul li a::before {
    content: '';
    width: 0px;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -4px;
    transition: all 0.4s;
    border-radius: 50px;
}

footer .footer-top .col-md-3 ul li:hover a::before {
    width: 80%;
}

/*--------------------------------------------------------------
    # footer-bottom section start
    --------------------------------------------------------------*/

footer .footer-bottom {
    /* #03032c,#02021E */
    background-color: #03032c;
    padding: 30px 40px 10px 40px;
    border-top: 1px solid #e9e5e5;
    box-shadow: -3px 0px 10px 0px gainsboro;
}

footer .footer-bottom .social-icons {
    display: flex;
    justify-content: end;
}

footer .footer-bottom .social-icons li {
    list-style: none;
    margin-left: 10px;
}

footer .footer-bottom .social-icons li a {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 2.2;
    text-align: center;
    color: white;
    display: block;
    transition: all 0.4s;
}

footer .social-icons li a:hover {
    color: #02021E;
    background-color: white;
    border: 1px solid #02021E;
}

/*--------------------------------------------------------------
    # footer section start
    --------------------------------------------------------------*/
/*--------------------------------------------------------------
    # screen max-width 1024px start 
    --------------------------------------------------------------*/

@media screen and (max-width:1024px) {
    header {
        padding: 0px 30px;
    }

    header .navbar-nav .nav-item {
        padding: 0px 10px;
    }
}

/*--------------------------------------------------------------
    # screen max-width 1024px end 
    --------------------------------------------------------------*/
/*--------------------------------------------------------------
    # screen max-width 992px start 
    --------------------------------------------------------------*/

@media screen and (max-width:992px) {
    #banner .wrapper .static-txt {
        font-size: 38px;
    }

}

/*--------------------------------------------------------------
    # screen max-width 992px end 
    --------------------------------------------------------------*/

/*--------------------------------------------------------------
    # screen max-width 768px start 
    --------------------------------------------------------------*/

@media screen and (max-width:768px) {
    header {
        padding: 0px 20px;
    }

    #banner {
        height: 450px;
        padding: 300px 50px 0px 50px;
    }

    #banner .wrapper .static-txt {
        font-size: 28px;
    }

    .rating-section .rating-logo {
        height: 30px;
    }

    #linkWhatsapp .linkRow {
        flex-direction: column;
    }

    #linkWhatsapp .linktext {
        font-size: 25px;
        padding-top: 0px;

        margin-left: 0px;
    }

    #upcomingBatches table {
        font-size: 15px;
    }

    #upcomingBatches table .btn {
        font-size: 15px;
    }
}

/*--------------------------------------------------------------
    # screen max-width 768px end 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    # screen min-width 768px start 
--------------------------------------------------------------*/
@media screen and (min-width:768px) {
    #courseInclude .col-md-3 {
        border-right: 4px solid #FDC632;
    }
}


/*--------------------------------------------------------------
    # screen min-width 768px end 
--------------------------------------------------------------*/


/*--------------------------------------------------------------
    # screen max-width 576px end 
--------------------------------------------------------------*/
@media screen and (max-width:576px) {
    #banner {
        height: 400px;
        padding: 275px 50px 0px 50px;
    }

    #banner .wrapper .static-txt {
        font-size: 25px;
    }

    #swiper .slider-wrapper {
        margin: 0px 0px;
    }

    #studentReview .card-list .card-item .titleCard .studentImage .studentImageRounded {
        padding: 8px;
        background: #fff;
        width: 90px;
        height: 90px;

    }

    #studentReview .card-list .card-item .titleCard .studentImage .studentColor {
        width: 50px;
    }
    
    #admissionProcess .admissionProcessBox .col-3 div {
        padding: 15px;
        font-size: 25px;
        display: inline-block;
        line-height: 1;
        margin-top: 25px;
    }

    #admissionProcess .admissionProcessBox .col-9 h5 {
        font-size: 18px;
    }

    #admissionProcess .admissionProcessBox .col-9 p {
        font-size: 15px;
    }

    #upcomingBatches table {
        font-size: 14px;
    }

    #upcomingBatches table .btn {
        font-size: 14px;
    }

    footer .footer-top {
        padding: 30px 20px;
    }

    footer .footer-bottom {
        padding: 20px 10px;
    }

}


/*--------------------------------------------------------------
    # screen max-width 576px end 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    # screen max-width 520px start 
--------------------------------------------------------------*/
@media screen and (max-width:520px) {
    #banner {
        height: 400px;
        padding: 275px 25px 0px 25px;
    }

    #banner .wrapper .static-txt {
        font-size: 22px;
    }

}

/*--------------------------------------------------------------
    # screen max-width 520px end 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    # screen max-width 421px start 
--------------------------------------------------------------*/
@media screen and (max-width:421px) {
    #banner {
        height: 400px;
        padding: 275px 20px 0px 20px;
    }

    #banner .wrapper .static-txt {
        font-size: 20px;
    }

    #upcomingBatches table {
        font-size: 12px;
    }

    #upcomingBatches table .btn {
        font-size: 12px;
    }
}

/*--------------------------------------------------------------
    # screen max-width 421px end 
--------------------------------------------------------------*/