* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#telbtn {
    background: linear-gradient(273.57deg, #2E3192 1.14%, #4C92BE 100%);
    color: white;
    font-weight: 600;
    border: none;
    transition: all 0.5;
    font-size: 14px;
    padding: 0.5rem 1.5rem;
    margin: 0px 15px;
}

#telbtn:hover {
    box-shadow: 4px 4px 10px grey;
}

/* topheader start */
#topheader {
    background-color: #4989B0;
    font-size: 14px;
    padding: 4px;
    font-weight: 500;
}

/* topheader end */
/* header start */
header {
    box-shadow: 0px 2px 10px lightgrey;
    padding: 0px 100px;
}

header .navbar-nav .nav-item {
    padding: 0px 20px;
    margin: 0;
}

header .navbar-nav .nav-link {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: black;
    transition: all 0.4s;
    position: relative;
}

header .navbar-nav .nav-link::before {
    content: '';
    width: 0px;
    height: 2px;
    border-radius: 20px;
    background-color: #4a70da;
    position: absolute;
    bottom: 0;
    transition: all 0.5s;
}

header .navbar-nav .nav-link:hover {
    color: #4a70da;
}

header .navbar-nav .nav-link:hover::before {
    width: 90%;
}

header .navbar-nav .nav-item .dropdown-menu {
    top: 52px;
    left: auto;
    transition: all 1s;
    width: 250px;
}

header .navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
}

header .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 14px;
    font-weight: 500;
    transition: all 0.5s;
}

header .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    color: #4989B0;
    letter-spacing: 0.7px;
}

header .offcanvas-body #telbtn {
    margin: 10px 0px;
    display: block;

}

header .offcanvas-body ul {
    padding: 0px;
    list-style: none;
    margin: 0px;
}

header .offcanvas-body ul li {
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 500;
}

header .offcanvas-body ul li a {
    text-decoration: none;
    color: black;
}

header .offcanvas-body ul li:hover {
    background-color: rgb(216, 239, 247);
    letter-spacing: 0.7px;
    transition: all 0.5s;
}

header .offcanvas-body ul li:hover a {
    color: #4a70da;
}

/* header end */
/* Banner start */

/* Banner end */
/* Student Review start */
.swiper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

#swiper .slider-wrapper {
    overflow: hidden;
    max-width: 1350px;
    min-height: 450px;
    margin: 0px 70px;
    /* overflow: visible; */
    /* z-index: 99999; */
}

.card-list .card-item {
    border: 2px solid rgb(202, 202, 202);
    padding: 20px;
}

.card-list .card-item .titleCard {
    background-color: #22577A;
    border-radius: 20px;
    padding: 40px 32px 20px 32px;
    position: relative;
    color: white;
}


.card-list .card-item .titleCard .studentImage {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    top: -4rem;
    width: 100%;

}

.card-list .card-item .titleCard .studentImage .studentImageRounded {
    border: 2px solid #eaeaea;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    width: 110px;
    height: 110px;

}

#swiper .slider-wrapper .swiper-pagination-bullet {
    background-color: rgb(165, 176, 223);
    height: 16px;
    width: 16px;
    opacity: 1;
    transition: all 0.4s;
}

#swiper .slider-wrapper .swiper-pagination-bullet-active {
    background-color: #22577A;
    height: 18px;
    width: 18px;
}

#swiper .slider-wrapper .button-swiper {
    color:#22577A;
    transition: all 0.5s;
    padding: 25px;
    border-radius: 50%;
    border: 2px solid #22577A;
   
}
#swiper .slider-wrapper .button-swiper::after{
     font-size: 15px;
     font-weight: bolder;
}
#swiper .slider-wrapper .button-swiper:hover {
    background-color: #22577A;
    color: white;
}


/* Student Review end */

@media screen and (max-width:1024px) {
    header {
        padding: 0px 30px;
    }

    header .navbar-nav .nav-item {
        padding: 0px 10px;
    }
}

@media screen and (max-width:768px) {
    header {
        padding: 0px 20px;
    }
}