@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito+Sans:wght@300;400;600;700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

.blue {
    color: #2E3192;
}

.bg-red {
    background-color: #f1030f;
}

.bg-lightblue {
    background-color: #00a5ec;
}

.bg-green {
    background-color: #188d27;
}

.bg-pink {
    background-color: #8f3131;
}

.bg-yellow {
    background-color: #f7b708;
}

.bg-bluelight {
    background-color: #07ceec;
}

#telbtn {
    background: linear-gradient(273.57deg, #2E3192 1.14%, #4C92BE 100%);
    color: white;
    font-weight: 600;
    border: none;
    transition: all 0.5;
    font-size: 15px;
    padding: 0.5rem 1.5rem;
}

#telbtn:hover {
    box-shadow: 4px 4px 10px grey;
}

/*--------------------------------------------------------------
  #  topheader section start 
  --------------------------------------------------------------*/

#topheader {
    background-color: #4989B0;
    font-size: 17px;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
}

/*--------------------------------------------------------------
  #  topheader section end 
  --------------------------------------------------------------*/

/*--------------------------------------------------------------
  #  header section start 
  --------------------------------------------------------------*/

header {
    box-shadow: 0px 2px 10px lightgrey;
    padding: 0px 60px;
}

header .navbar-nav .nav-item {
    padding: 0px 10px;
    margin: 0;
}

header .navbar-nav .nav-link {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: black;
    transition: all 0.4s;
    position: relative;
}

header .navbar-nav .nav-link::before {
    content: '';
    width: 0px;
    height: 2px;
    border-radius: 20px;
    background-color: #4a70da;
    position: absolute;
    bottom: 0;
    transition: all 0.5s;
}

header .navbar-nav .nav-link:hover {
    color: #4a70da;
}

header .navbar-nav .nav-link:hover::before {
    width: 90%;
}

header .navbar-nav .nav-item .dropdown-menu {
    top: 55px;
    left: auto;
    transition: all 1s;
    width: 270px;
    padding: 0;
}

header .navbar-nav .nav-item #hamburger_menu {
    right: 0;
    width: 200px;
    /* background-color: #eff9ff; */
}

header .navbar-nav .nav-item:hover .dropdown-menu {
    display: block;
}

header .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    font-size: 16px;
    font-weight: 500;
    padding: 9px 20px;
    transition: all 0.2s;
}

header .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
    color: #066fb1;
    letter-spacing: 0.7px;
    background-color: rgb(240, 240, 240);
}

header #telbtn {
    margin: 0px 15px;
}

header .offcanvas-body #telbtn {
    margin: 10px 0px;
    display: block;

}

header .offcanvas-body ul {
    padding: 0px;
    list-style: none;
    margin: 0px;
}

header .offcanvas-body ul li {
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 500;
}

header .offcanvas-body ul li a {
    text-decoration: none;
    color: black;
}

header .offcanvas-body ul li:hover {
    background-color: rgb(216, 239, 247);
    letter-spacing: 0.7px;
    transition: all 0.5s;
}

header .offcanvas-body ul li:hover a {
    color: #4a70da;
}

/*--------------------------------------------------------------
  #  header section end 
  --------------------------------------------------------------*/

/*--------------------------------------------------------------
  #  Banner section start 
  --------------------------------------------------------------*/
#banner {
    background: linear-gradient(to right, #021A64, rgba(255, 255, 255, 0.1)), url(../img/banner.jpeg) scroll no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
    padding: 350px 70px 10px 70px;
}

#banner .wrapper {
    display: inline-flex;
    background-color: rgba(25, 33, 36, 0.8);
    border-radius: 0px 20px;
    padding: 20px
}

#banner .wrapper .static-txt {
    font-size: 48px;
    font-weight: bold;
    font-family: "Poppins", serif;
    color: white;
}

#banner .wrapper .static-txt span {
    color: #09d1ec;
}

/*--------------------------------------------------------------
  #  Banner section end 
  --------------------------------------------------------------*/


/*--------------------------------------------------------------
  #  Our Courses start
  --------------------------------------------------------------*/

#ourCourses .card {
    font-family: 'Inter';
}

#ourCourses #brochurebtn,
#ourCourses #knowbtn {
    padding: 10px auto;
    font-weight: 500;
    border: 1px solid #2E3192;
    border-radius: 5px;
    transition: all 0.6s;
    margin-right: 10px;
    font-size: 15px;
}

#ourCourses #brochurebtn {
    background-color: white;
    color: #2E3192;
}

#ourCourses #knowbtn {
    background-color: #2E3192;
    color: white;
}

#ourCourses #brochurebtn:hover {
    background-color: #2E3192;
    color: white;
}

#ourCourses #knowbtn:hover {
    background-color: white;
    color: #2E3192;
}

/*--------------------------------------------------------------
  #  Our Courses end
  --------------------------------------------------------------*/

/*--------------------------------------------------------------
  #  Course Include start
  --------------------------------------------------------------*/

#courseInclude {
    background-color: #ECF0F2;
}

#courseInclude .col-md-9 .row .col .includeIcon {
    transition: all .3s;
    line-height: 2.2;
    color: white;
    border-radius: 50%;
    font-size: 32px;
    display: inline-block;
    height: 70px;
    width: 70px;
    margin: 10px;
}

#courseInclude .col-md-9 .row .col:hover .includeIcon {
    transform: scale(1.2);
}

/*--------------------------------------------------------------
  #  Course Include end
  --------------------------------------------------------------*/
/*--------------------------------------------------------------
  #  whoCanJoin Section start 
  --------------------------------------------------------------*/

#whoCanJoin {
    background: url(../img/Who-can-join-bg.jpg) scroll;
    background-size: cover;
    background-position: center;
    padding: 80px 0px 0px 50px;
}

#whoCanJoin h2 {
    line-height: 60px;
    font-size: 38px;
}

#whoCanJoin #register {
    background-color: #eea107;
    color: white;
    padding: 7px 70px;
    border-radius: 30px;
    font-size: 28px;
    margin: 30px 0px 60px 0px;
    font-weight: 500;
    display: block;
}

#whoCanJoin .img-fluid {
    height: 100%;
    width: 100%;
}

/*--------------------------------------------------------------
  #  whoCanJoin Section end 
  --------------------------------------------------------------*/

/*--------------------------------------------------------------
  #  insituteStatus Section start 
  --------------------------------------------------------------*/

#insituteStatus .insituteStatusBox {
    border: 1px solid #0f0f0f1a;
    border-radius: 4px;
    width: 250px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 3rem; */
    /* text-align: center; */
    flex-direction: column;
    box-shadow: 0px 2px 6px gray;
    transition: all 0.7s;
}

#insituteStatus .insituteStatusBox span {
    background-color: #E8EEF1;
    text-align: center;
    height: 70px;
    width: 70px;
    line-height: 2.5;
    font-size: 30px;
    border-radius: 50%;
    color: #313C97;
}

#insituteStatus .insituteStatusBox p {
    font-size: 18px;
}

#insituteStatus .insituteStatusBox:hover {
    transform: translateY(-20px);
    background-color: #313C97;
    color: white;
}

#insituteStatus #insituteStatusContent p {
    word-break: break-all;
}

/*--------------------------------------------------------------
    #  insituteStatus Section end 
    --------------------------------------------------------------*/
/*--------------------------------------------------------------
  #  Rating Section start 
  --------------------------------------------------------------*/

#ratingSection .rating-logo {
    height: 40px;
}

/*--------------------------------------------------------------
  #  Rating Section end 
  --------------------------------------------------------------*/
/*--------------------------------------------------------------
  #  roadMap Section start 
  --------------------------------------------------------------*/
#roadMap {
    background-color: #20B2AA;
}

#roadMap #roadMapBox {
    box-shadow: 0 3px 9px gray;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    font-weight: 500;
    transition: all 0.5s ease;
    width: 100%;
    font-size: 17px;
}

#roadMap #roadMapBox:hover {
    background-color: #FF5725;
    color: white;
    transform: translateY(-5px);
}

#roadMap #roadMapBox .roadMapBoxSpan {
    font-size: 25px;
}


/*--------------------------------------------------------------
  #  roadMap Section end 
  --------------------------------------------------------------*/

/*--------------------------------------------------------------
  # whyChoose section start 
  --------------------------------------------------------------*/
#whyChoose {
    background-color: #e0eaf3;
}

#whyChoose .slider-wrapper {
    max-width: 1400px;
    min-height: 500px;
    /* margin: 0px 70px; */
    overflow: hidden;
    padding: 10px;
}

#whyChoose .slider-wrapper .swiper-button-next::after,
#whyChoose .slider-wrapper .swiper-button-prev::after {
    font-size: 20px;
    font-weight: bolder;
}

#whyChoose .slider-wrapper .swiper-pagination-bullet {
    background-color: rgb(165, 176, 223);
    height: 16px;
    width: 16px;
    opacity: 1;
    transition: all 0.4s;
}

#whyChoose .slider-wrapper .swiper-pagination-bullet-active {
    background-color: #22577A;
    height: 18px;
    width: 18px;
}

#whyChoose .chooseBox {
    padding: 30px 20px;
    box-shadow: -1px 0 9px 0 rgba(191, 191, 191, 0.49);
    border-radius: 4px;
    background-color: white;
    position: relative;
    z-index: 1;
    margin: 10px 0px;
    min-height: 430px;
    transition: all 0.6s;
}

#whyChoose .chooseBox::after {
    position: absolute;
    content: "";
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0;
    background-color: #0093d8;

}

#whyChoose .chooseBox:hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.31);
    transform: scale(1.05);
}

#whyChoose .chooseBox:hover::after {
    width: 100%;
}

#whyChoose .chooseBox .chooseIcon {
    margin-bottom: 30px;
    height: 100px;
    width: 100px;
    border-radius: 73% 27% 38% 62% / 40% 43% 57% 60%;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    -webkit-box-shadow: 0 4px 24px 0 rgba(103, 151, 255, .15), 0 12px 64px 0 rgba(103, 151, 255, .15);
    box-shadow: 0 4px 24px 0 rgba(103, 151, 255, .15), 0 12px 64px 0 rgba(103, 151, 255, .15);
    -webkit-transition-duration: 600ms;
    -o-transition-duration: 600ms;
    transition-duration: 600ms;
}

#whyChoose .chooseBox:hover .chooseIcon {
    -webkit-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    transform: rotate(-360deg)
}

#whyChoose .chooseBox .chooseIcon img {
    width: 80px;
    display: block;
    height: 80px;
}

#whyChoose .chooseBox .chooseText p {
    font-size: 16px;
    line-height: 25px;
    min-height: 100px;
    color: #888686;
    letter-spacing: .5px;
}

#whyChoose #chooseMobileBox {
    background-color: white;
    transition: all 0.6s;
    box-shadow: 0px 3px 5px rgb(177, 177, 177);
    border-radius: 20px;
}

#whyChoose #chooseMobileBox:hover {
    background-color: #313C96;
    color: white;
}

#whyChoose #chooseMobileBox .col-3 div {
    padding: 20px;
    background-color: #e6e6e6;
    color: #313C96;
    border-radius: 50%;
    margin-top: auto;
    font-size: 35px;
    display: inline-block;
    line-height: 1;
}

/*--------------------------------------------------------------
  # whyChoose section end 
  --------------------------------------------------------------*/


/*--------------------------------------------------------------
  #  Student Review start 
  --------------------------------------------------------------*/

#studentReview {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

#studentReview .slider-wrapper {
    max-width: 1400px;
    min-height: 450px;
    margin: 0px 70px;
    overflow: hidden;
}

#studentReview .card-list .card-item {
    border: 2px solid rgb(202, 202, 202);
    padding: 20px;
    box-shadow: 0px 1px 5px 0px rgb(155, 155, 155), 0px 4px 5px 0px #8f9faa;

}

#studentReview .card-list .card-item .titleCard {
    background-color: #22577A;
    border-radius: 20px;
    padding: 40px 32px 20px 32px;
    position: relative;
    color: white;
}


#studentReview .card-list .card-item .titleCard .studentImage {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    top: -2.8rem;
    width: 100%;

}

#studentReview .card-list .card-item .titleCard .studentImage .studentColor {
    font-size: 60px;
    color: #fcc40e;
}

/* #studentReview .card-list .card-item .titleCard .studentImage .studentColor {
    width: 60px;
} */

#studentReview .card-list .card-item .titleCard .studentImage .studentImageRounded {
    border: 2px solid #eaeaea;
    border-radius: 50%;
    padding: 10px;
    background: #fff;
    width: 110px;
    height: 110px;
}

#studentReview .slider-wrapper .swiper-pagination-bullet {
    background-color: rgb(165, 176, 223);
    height: 16px;
    width: 16px;
    opacity: 1;
    transition: all 0.4s;
}

#studentReview .slider-wrapper .swiper-pagination-bullet-active {
    background-color: #22577A;
    height: 18px;
    width: 18px;
}

#studentReview .slider-wrapper .button-swiper {
    color: #22577A;
    transition: all 0.5s;
    padding: 25px;
    border-radius: 50%;
    border: 2px solid #22577A;

}

#studentReview .slider-wrapper .button-swiper::after {
    font-size: 15px;
    font-weight: bolder;
}

#studentReview .slider-wrapper .button-swiper:hover {
    background-color: #22577A;
    color: white;
}

/*--------------------------------------------------------------
  #  Student Review end 
  --------------------------------------------------------------*/
/*--------------------------------------------------------------
    # linkWhatsapp section start 
--------------------------------------------------------------*/
#linkWhatsapp {
    background-color: #29AF3E;
    transition: all 1s;
}

#linkWhatsapp .linktext {
    font-size: 36px;
    line-height: 1.35em;
    padding-top: 20px;
    margin-left: 20px;
    color: white;
    transition: all 0.6s;
}

#linkWhatsapp:hover {
    background-color: white;
}

#linkWhatsapp:hover .linktext {
    color: #29AF3E;
}

/*--------------------------------------------------------------
    # linkWhatsapp section end 
--------------------------------------------------------------*/
/*--------------------------------------------------------------
    # footer section start
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    # footer-top start
--------------------------------------------------------------*/
footer .footer-top {
    background-color: #03032c;
    color: white;
    padding: 30px 40px 10px 40px;
}

footer .footer-top .col-md-3 ul {
    margin-top: 20px;
    padding-left: 0;
}

footer .footer-top .col-md-3 ul li {
    list-style: none;
    padding: 8px 0px;
    font-weight: 500;
}

footer .footer-top .col-md-3 ul li a {
    color: white;
    position: relative;
    display: block;
}

footer .footer-top .col-md-3 ul li span {
    margin-left: 10px;
}

footer .footer-top .col-md-3 ul li a::before {
    content: '';
    width: 0px;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -4px;
    transition: all 0.4s;
    border-radius: 50px;
}

footer .footer-top .col-md-3 ul li:hover a::before {
    width: 80%;
}

/*--------------------------------------------------------------
    # footer-bottom section start
    --------------------------------------------------------------*/

footer .footer-bottom {
    /* #03032c,#02021E */
    background-color: #03032c;
    padding: 30px 40px 10px 40px;
    border-top: 1px solid #e9e5e5;
    box-shadow: -3px 0px 10px 0px gainsboro;
}

footer .footer-bottom .social-icons {
    display: flex;
    justify-content: end;
}

footer .footer-bottom .social-icons li {
    list-style: none;
    margin-left: 10px;
}

footer .footer-bottom .social-icons li a {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 2.2;
    text-align: center;
    color: white;
    display: block;
    transition: all 0.4s;
}

footer .social-icons li a:hover {
    color: #02021E;
    background-color: white;
    border: 1px solid #02021E;
}

/*--------------------------------------------------------------
    # footer section start
    --------------------------------------------------------------*/
/*--------------------------------------------------------------
    # screen max-width 1200px start 
    --------------------------------------------------------------*/

@media screen and (max-width:1200px) {

    #whoCanJoin h2 {
        line-height: 50px;
        font-size: 32px;
    }
}

/*--------------------------------------------------------------
    # screen max-width 1024px end 
    --------------------------------------------------------------*/
/*--------------------------------------------------------------
    # screen max-width 1024px start 
    --------------------------------------------------------------*/

@media screen and (max-width:1024px) {
    header {
        padding: 0px 30px;
    }

    header .navbar-nav .nav-item {
        padding: 0px 10px;
    }

    #whoCanJoin {
        padding: 70px 0px 0px 50px;
    }

    #whoCanJoin h2 {
        line-height: 45px;
        font-size: 28px;
    }

    #whoCanJoin #register {
        padding: 7px 60px;
        font-size: 25px;
    }
}

/*--------------------------------------------------------------
    # screen max-width 1024px end 
    --------------------------------------------------------------*/
/*--------------------------------------------------------------
    # screen max-width 992px start 
    --------------------------------------------------------------*/

@media screen and (max-width:992px) {
    #banner .wrapper .static-txt {
        font-size: 38px;
    }

}

/*--------------------------------------------------------------
    # screen max-width 992px end 
    --------------------------------------------------------------*/

/*--------------------------------------------------------------
    # screen max-width 768px start 
    --------------------------------------------------------------*/

@media screen and (max-width:768px) {
    header {
        padding: 0px 20px;
    }

    #banner {
        height: 450px;
        padding: 300px 50px 0px 50px;
    }

    #banner .wrapper .static-txt {
        font-size: 28px;
    }



    #whoCanJoin {
        padding: 60px 0px 0px 40px;
    }

    #whoCanJoin h1 {
        font-size: 32px;
    }

    #whoCanJoin h2 {
        line-height: 40px;
        font-size: 20px;
    }

    #whoCanJoin #register {
        padding: 5px 50px;
        font-size: 20px;
    }

    .rating-section .rating-logo {
        height: 30px;
    }

    #roadMap #roadMapBox {
        font-size: 17px;
    }

    #roadMap #roadMapBox .roadMapBoxSpan {
        font-size: 25px;
    }

    #linkWhatsapp .linkRow {
        flex-direction: column;
    }

    #linkWhatsapp .linktext {
        font-size: 25px;
        padding-top: 0px;

        margin-left: 0px;
    }

}

/*--------------------------------------------------------------
    # screen max-width 768px end 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    # screen min-width 768px start 
--------------------------------------------------------------*/
@media screen and (min-width:768px) {
    #courseInclude .col-md-3 {
        border-right: 4px solid #FDC632;
    }
}


/*--------------------------------------------------------------
    # screen min-width 768px end 
--------------------------------------------------------------*/


/*--------------------------------------------------------------
    # screen max-width 576px end 
--------------------------------------------------------------*/
@media screen and (max-width:576px) {
    #banner {
        height: 400px;
        padding: 275px 50px 0px 50px;
    }

    #banner .wrapper .static-txt {
        font-size: 25px;
    }


    #whoCanJoin {
        padding: 40px 0px 0px 20px;
    }

    #whoCanJoin h1 {
        font-size: 25px;
    }

    #whoCanJoin h2 {
        line-height: 30px;
        font-size: 20px;
    }

    #whoCanJoin #register {
        padding: 5px 50px;
        font-size: 20px;
    }

    #insituteStatus .insituteStatusBox {
        width: 100%;
        height: 200px;
    }

    #swiper .slider-wrapper {
        margin: 0px 0px;
    }

    #studentReview .card-list .card-item .titleCard .studentImage .studentImageRounded {
        padding: 8px;
        background: #fff;
        width: 90px;
        height: 90px;

    }

    footer .footer-top {
        padding: 30px 20px;
    }

    footer .footer-bottom {
        padding: 20px 10px;
    }

}


/*--------------------------------------------------------------
    # screen max-width 576px end 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    # screen max-width 520px start 
--------------------------------------------------------------*/
@media screen and (max-width:520px) {
    #banner {
        height: 400px;
        padding: 275px 25px 0px 25px;
    }

    #banner .wrapper .static-txt {
        font-size: 22px;
    }

    #roadMap #roadMapBox {
        font-size: 15px;
        padding: 12px;
    }

    #roadMap #roadMapBox .roadMapBoxSpan {
        font-size: 22px;
    }

    #whyChoose #chooseMobileBox .col-3 div {
        padding: 17px;
        font-size: 28px;
        margin: 10px 0px;
    }

    #whyChoose #chooseMobileBox h5 {
        font-size: 18px;
    }

    #whyChoose #chooseMobileBox p {
        font-size: 15px;
    }

}

/*--------------------------------------------------------------
    # screen max-width 520px end 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    # screen max-width 421px start 
--------------------------------------------------------------*/
@media screen and (max-width:421px) {
    #banner {
        height: 400px;
        padding: 275px 20px 0px 20px;
    }

    #banner .wrapper .static-txt {
        font-size: 20px;
    }

    #whoCanJoin {
        padding: 40px 0px 0px 20px;
    }

    #whoCanJoin h1 {
        font-size: 21px;
    }

    #whoCanJoin h2 {
        line-height: 25px;
        font-size: 18px;
    }

    #whoCanJoin #register {
        padding: 5px 50px;
        font-size: 18px;
    }

    #insituteStatus .insituteStatusBox p {
        font-size: 15px;
    }

    #roadMap #roadMapBox {
        font-size: 12px;
        padding: 10px;
    }

    #roadMap #roadMapBox .roadMapBoxSpan {
        font-size: 20px;
    }

    #whyChoose #chooseMobileBox h5 {
        font-size: 16px;
    }

    #whyChoose #chooseMobileBox p {
        font-size: 14px;
    }

    #studentReview .card-list .card-item .titleCard .studentImage .studentColor {
        font-size: 50px;
    }

}

/*--------------------------------------------------------------
    # screen max-width 421px end 
--------------------------------------------------------------*/